@media(max-width: 1200px) {
  .header__logo {
    margin-right: var(--ofset-main);
  }
  /* for Safari in Mac */
  .menu__item:not(:last-child) {
    margin-right: 24px;
  }
  /* section adout */
  .about__slogan {
    margin-right: 30px;
    font-size: 40px;
  }
  .about__descr {
    font-size: 18px;
  }
  .card__descr {
    -webkit-transform: translateX(64px);
        -ms-transform: translateX(64px);
            transform: translateX(64px);
  }
  .filter__nav {
    gap: 20px;
  }
  .filter-nav__item {
    min-width: 170px;
  }
  .filter-nav__btn {
    padding: 12px 24px;
    font-size: 20px;
  }
}

@media(max-width: 1024px) {
  /* disable styles focus-visible */
  .social__link:focus-visible .social__icon,
  .header__btn:focus-visible {
    background-color: var(--accent-color);
  }
  .menu__link:focus-visible {
    color: var(--black-color);
  }
  .menu__link:focus-visible:after {
    opacity: 0;
    visibility: hidden;
  }
  .modal {
    max-width: calc(100vw - 15px*2);
    aspect-ratio: 16/9;
  }
  /* .modal__video {
    margin-right: 40px;
    width: 100%;
  }
  .modal__btn-close {
    top: -40px;
    right: -15px;
  } */
  .form__link:focus-visible {
    color: var(--accent-color);
  }

}

@media(max-width: 992px) {
  /* .section-title {
    line-height: 48px;
  } */
  .header__container {
    padding-top: 41px;
  }
  .burger {
    /* position: relative; */
    display: block;
    position: fixed;
    top: 41px;
    right: 15px;
    background-color: var(--white-color);
  }
  .burger::before {
    content: ' ';
    position: absolute;
    top: -44px;
    right: 50px;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    background-color: var(--white-color);
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
  .is-open.burger::before {
    opacity: 1;
    visibility: visible;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: 10;
    overflow-y: auto;
    display: block;
    padding: 100px 24px;
    width: 40vw;
    min-width: 320px;
    height: 100vh;
    background-color: var(--white-color);
    -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: visibility .8s ease-in-out, -webkit-transform .8s ease-in-out;
    transition: visibility .8s ease-in-out, -webkit-transform .8s ease-in-out;
    -o-transition: visibility .8s ease-in-out, transform .8s ease-in-out;
    transition: visibility .8s ease-in-out, transform .8s ease-in-out;
    transition: visibility .8s ease-in-out, transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
  }
  .menu::before {
    content: '';
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    /* overflow-y: auto; */
  }
  .menu__list .menu__item:not(:last-child) {
      margin-right: 0;
  }
  .menu__item {
    text-align: center;
    text-transform: uppercase;
  }
  .menu-open {
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .menu__link {
    font-size: 20px;
    line-height: 68px;
  }
  .promo__title {
    padding: 0 20px;
    font-size: 60px;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__slogan {
    margin-right: 0px;
    margin-bottom: 30px;
    width: 80%;
  }
  .about__descr {
    width: 100%;
    font-size: 18px;
  }
  .filter__list .filter-info__item:nth-child(1),
  .filter__list .filter-info__item:nth-child(3),
  .filter__list .filter-info__item:nth-child(4) {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
  .filter__list .filter-info__item:nth-child(2) {
    -ms-grid-column-span: 8;
    grid-column: 8 span;
  }
  .card__title {
    font-size: 40px;
  }
  .card__descr {
    max-width: 300px;
    font-size: 18px;
    letter-spacing: 0.6px;
    -webkit-transform: translateX(64px);
        -ms-transform: translateX(64px);
            transform: translateX(64px);
  }
}

@media(max-width: 768px) {
  :root {
    --ofset-main: 24px;
    --ofset-section: 50px;
  }
  .section-descr {
    font-size: 16px;
    line-height: 175%;
  }
  .header__social {
    display: none;
  }
  .header__btn {
    margin-right: 50px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--ofset-section);
  }
  .menu__list {
    margin-bottom: var(--ofset-section);
  }
  .menu__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* gap: 24px; */
  }
  /* for Safari in Mac */
  .menu__social .social__item:not(:last-child) {
    margin-right: 24px;
  }

  .menu__social svg {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__slogan {
    width: 100%;
  }
  .promo__title {
    font-size: 38px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
    padding: 0 var(--ofset-main);
  }
  .filter-nav__item {
    min-width: 120px;
  }
  .filter-nav__btn {
    padding: 8px 16px;
    font-size: 16px;
  }
  .filter__list.filter-info {
    gap: 15px;
  }
  .filter__list .filter-info__item:nth-child(n+1) {
    -ms-grid-row-span: 1;
    grid-row: 1 span;
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
  .advantages__list {
    gap: 24px;
  }
  .card__title {
    margin-bottom: 5px;
    width: 100%;
  }
  .card__title {
    font-size: 28px;
  }
  .card__descr {
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 380px;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.6px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .form__descr {
    margin-bottom: var(--ofset-section);
    padding: 0;
  }
  .form__feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: var(--ofset-main);
    max-width: 100%;
    width: 100%;
  }
  .form__label {
    max-width: 100%;
  }
  .form__input {
    border-radius: 30px;
  }
  .form__btn {
    margin-left: 0;
    padding: 16.3px 50px;
    border-radius: 30px;
  }
  .contacts__social-list .social__item:not(:last-child) {
    margin-right: 24px;
  }
  .footer__content {
    padding-top: 0px;
  }
}

@media(max-width: 577px) {
  .section-title {
    font-size: 16px;
    line-height: 150%;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__btn {
    display: none;
  }
  .menu__btn {
    display: block;
    width: 100%;
  }
  .link-btn {
    padding: 20px 40px;
    max-width: 300px;
    font-size: 20px;
    line-height: normal;
  }
  .menu {
    width: 100vw;
    min-width: 100%;
    max-height: 100%;
  }
  .menu__list {
    margin-bottom: 0;
  }
  .promo__title {
    padding: 0px;
    font-size: 28px;
  }
  .about {
    padding-top: var(--ofset-section);
  }
  .about__slogan {
    margin-right: 0px;
    margin-bottom: 14px;
    width: 100%;
    font-size: 28px;
  }
  .about__descr {
    width: 100%;
    font-size: 16px;
  }
  .advantages__list {
    padding: 0;
  }
  .filter__nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
  }
  .error {
    font-size: 14px;
  }
  .contacts__mail {
    font-size: 20px;
    letter-spacing: normal;
  }
  .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: var(--ofset-main);
  }
  .form__link {
    font-size: 16px;
    line-height: 175%;
  }
}
