@font-face {
	font-family: 'Inter';
	src: local('InterRegular'),
       url('fonts/InterRegular.woff2') format('woff2'),
		   url('fonts/InterRegular.woff') format('woff'),;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('InterSemiBold'),
       url('fonts/InterSemiBold.woff2') format('woff2'),
		   url('fonts/InterSemiBold.woff') format('woff'),;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('InterBold'),
       url('fonts/InterBold.woff2') format('woff2'),
		   url('fonts/InterBold.woff') format('woff'),;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Inter", sans-serif;
	--accent-color: #820905;
  --black-color: #1d1d1d;
  --white-color: #fff;
	--dark-bg-color: #000;
	--grey-color: #414141;
  /* --hover-color: #c0130e; */
  /* --hover-color: #414141; */
  --hover-color: #fff;
  --gap: 30px;
  --ofset-main: 50px;
  --ofset-section: 100px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/* img {
  max-width: 100%;
  -o-object-fit: cover;
      object-fit: cover;
} */
body {
  min-width: 320px;
  font-family: var(--font-family);
  background-color: var(--white-color);
}
.site-wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}
.link-reset {
  text-decoration: none;
  color: inherit;
}
.link-reset:focus-visible {
  outline: none;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}
.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: var(--ofset-main);
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 68px;
  color: var(--black-color);
  letter-spacing: 0.2px;
}
.separator,
.section-title__text,
.company-name {
  display: inline-block;
}
.section-title .separator {
  margin: 0 7px;
}
.company-name span {
  color: var(--accent-color);
}
.section-descr {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--black-color);
}
/* === scroll === */
.disable-scroll {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* header */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 67px;
  padding-bottom: 41px;
}
.header__logo {
  margin-right: 85px;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* gap: 24px; */
}
/* for Safari in Mac */
.header__social .social__item:not(:last-child) {
  margin-right: 24px;
}
.header__social svg {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.social__icon {
  border: 1px solid var(--accent-color);
  border-radius: 100%;
  fill: var(--white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color .3s ease-in-out, fill .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, fill .3s ease-in-out;
  transition: background-color .3s ease-in-out, fill .3s ease-in-out;
}
.social__link:focus-visible .social__icon,
.social__link:hover .social__icon {
  background-color: var(--hover-color);
  fill: var(--black-color);
}
.header__btn {
  margin-right: var(--ofset-main);
  margin-left: auto;
}
.link-btn {
  padding: 10px 40px;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
  min-width: 163px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.link-btn:focus-visible,
.link-btn:hover {
  color: var(--black-color);
  background-color: var(--hover-color);
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* gap: var(--ofset-main); */
}
.menu__item:not(:last-child) { /* for Safari in Mac */
  margin-right: var(--ofset-main);
}
.menu__link {
  position: relative;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: var(--black-color);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.menu__link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0.6px;
  background-color: var(--accent-color);
  /* background-color: var(--hover-color); */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
.menu__link:focus {
  outline: none;
}
.menu__link:focus-visible,
.menu__link:hover {
  color: var(--accent-color);
}
.menu__link:focus-visible:after,
.menu__link:hover:after {
  opacity: 1;
  visibility: visible;
}

/* burger */
.burger {
  position: relative;
  display: none;
  padding: 5px;
  border: 1px solid var(--accent-color);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  z-index: 10;
  background-color: transparent;
  outline: none;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  }
  .burger__lines,
  .burger__lines::after,
  .burger__lines::before {
  position: absolute;
  right: 0;
  display: block;
  margin: 0;
  width: calc(100% - 2*8px);
  height: 2px;
  /* background-color: var(--white-color); */
  background-color: var(--dark-bg-color);
  -webkit-transition: background-color ease .3s, -webkit-transform ease .5s;
  transition: background-color ease .3s, -webkit-transform ease .5s;
  -o-transition: transform ease .5s, background-color ease .3s;
  transition: transform ease .5s, background-color ease .3s;
  transition: transform ease .5s, background-color ease .3s, -webkit-transform ease .5s;
  will-change: transform;
  }
  .burger__lines {
  right: 50%;
  -webkit-transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  }
  .burger__lines::after {
  content: '';
  top: 8px;
  width: 100%;
  }
  .burger__lines::before {
  content: '';
  bottom: 8px;
  width: 100%;
  }
  .burger:focus-visible:not(.is-open),
  .burger:hover {
    /* background-color: var(--accent-color); */
    outline: none;
  }
  /* .burger:focus-visible:not(.is-open) .burger__lines,
  .burger:focus-visible:not(.is-open) .burger__lines::before,
  .burger:focus-visible:not(.is-open) .burger__lines::after, */
  /* .burger:hover .burger__lines,
  .burger:hover .burger__lines::before,
  .burger:hover .burger__lines::after {
    background-color: var(--white-color);
  } */
  .burger:active:not(.is-open) .burger__lines,
  .burger:active:not(.is-open) .burger__lines::before,
  .burger:active:not(.is-open) .burger__lines::after {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  .burger.is-open .burger__lines {
  background-color: transparent;
  }
  .burger.is-open .burger__lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  .burger.is-open .burger__lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  .menu__social,
  .menu__btn  {
    display: none;
  }

  /* section promo */
  .promo__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 596px;
    background-color: var(--dark-bg-color);
  }
  .promo__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--dark-bg-color);
  }
  .promo__title {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 97%;/* 68px */
    letter-spacing: 0.5px;
    color: var(--white-color);
    transform: translateY(-30%);
  }

/* section adout */
.adout {
  padding-top: var(--ofset-section);
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__slogan {
  margin: 0;
  margin-right: var(--ofset-main);
  width: 56%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 125%; /* 60px */
  color: var(--black-color);
}
.about__slogan .company-name {
  display: block;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 142%; /* 68px */
  letter-spacing: 0.7px;
}
.about__descr {
  width: 39%;
  line-height: 175%; /* 35px */
  letter-spacing: 0.6px;
}

/* section release */
.release {
  padding-top: var(--ofset-section);
}
.filter__nav {
  /* display: grid; */
  /* grid-template-columns: repeat(8, 1fr); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* -ms-flex-wrap: wrap;
      flex-wrap: wrap; */
  /* gap: 30px; */
  margin-bottom: var(--ofset-main);
}
.filter-nav__item {
  min-width: 250px;
  /* grid-column: 2 span; */
}
.filter-nav__item:not(:last-child) {
  margin-right: 30px;
}
.filter-nav__btn {
  padding: 16px 45px;
  border: 1px solid var(--accent-color);
  border-radius: 30px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  color: var(--black-color);
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.filter-nav__btn[data-active='true'] {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.filter-nav__btn:focus-visible,
.filter-nav__btn:hover {
  outline: none;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.filter__list.filter-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 280px;
  gap: var(--gap);
  min-height: 280px;
}
.filter__list .filter-info__item {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: var(--dark-bg-color);
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
.filter__list .filter-info__item:nth-child(1) {
  -ms-grid-row-span: 2;
  grid-row: 2 span;
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.filter__list .filter-info__item:nth-child(2) {
  -ms-grid-row-span: 1;
  grid-row: 1 span;
  -ms-grid-column-span: 9;
  grid-column: 9 span;
}
.filter__list .filter-info__item:nth-child(3),
.filter__list .filter-info__item:nth-child(n+5) {
  -ms-grid-row-span: 1;
  grid-row: 1 span;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.filter__list .filter-info__item:nth-child(4) {
  -ms-grid-row-span: 1;
  grid-row: 1 span;
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.filter__list .filter-info__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-grid-row-span: 1;
  grid-row: 1 span;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.filter-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.filter-slider .filter-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter-slider .filter-info__item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.filter-slider .video__link {
  display: block;
  min-height: 280px;
  overflow: hidden;
}
.filter-info__item picture {
  font-size: 0;
}
.filter-info__item:focus .video__btn,
.filter-info__item:hover .video__btn {
  opacity: 1;
  visibility: visible;
}
.video__link:focus {
  outline: none;
}
.video__img {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__btn {
  position: absolute;
  inset: 50% 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 19;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out ;
  -o-transition: opacity .3s ease-in-out, visibility .3s ease-in-out ;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out ;
}
.video__btn:focus {
  outline: none;
}
/* .video__btn:focus .video__icon, */
/* .video__btn:hover .video__icon { */
  /* fill: var(--accent-color); */
/* } */
.video__icon {
  border-radius: 100%;
  /* background-color: #24242489; */
  fill: #e3e3e3;
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

/* modals */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
.overlay--visible {
  opacity: 1;
  visibility: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80vw;
  width: 100%;
  background-color: var(--dark-bg-color);
  -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  cursor: default;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  aspect-ratio: 16/9;
  /* height: 0; */
  /* padding-bottom: 56.25%; */
}
.modal--visible {
  opacity: 1;
  visibility: visible;
}
/* .modal__video {
  position: relative;
  margin-right: 40px;
  width: calc(100% - 40px);
  height: 100%;
} */
.modal__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--dark-bg-color);
}
.modal__btn-close {
  position: absolute;
  top: -36px;
  right: -36px;
  padding: 5px;
  border: 1px solid var(--accent-color);
  border: 1px solid transparent;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  z-index: 10;
  background-color: #e3e3e3d3;
  outline: none;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  transform: translate(-50%, 50%);
}
.modal__btn-close:focus,
.modal__btn-close:hover {
  background-color: #e3e3e3;
}
.modal__lines::before,
.modal__lines:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: 0;
  width: calc(100% - 2*8px);
  height: 2px;
  background-color: var(--grey-color);
  -webkit-transition: background-color ease .3s, -webkit-transform ease .5s;
  transition: background-color ease .3s, -webkit-transform ease .5s;
  -o-transition: transform ease .5s, background-color ease .3s;
  transition: transform ease .5s, background-color ease .3s;
  transition: transform ease .5s, background-color ease .3s, -webkit-transform ease .5s;

}
.modal__lines::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal__lines:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* section advantages */
.advantages {
  padding-top: var(--ofset-section);
}
.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr;
  grid-template-columns: repeat(8, 1fr);
  gap: 48px;
}
.advantages__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.card__title {
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 142%;/* 68px */
  letter-spacing: 1.54px;
  color: var(--accent-color);
}
.card__descr {
  margin: 0;
  width: 100%;
  max-width: 382px;
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;/* 38px */
  letter-spacing: 1.2px;
  color: var(--black-color);
  -webkit-transform: translateX(164px);
      -ms-transform: translateX(164px);
          transform: translateX(164px);
}

/* section form */
.form {
  padding-top: var(--ofset-section);
  padding-bottom: var(--ofset-section);
}
.form__descr {
  margin-bottom: var(--ofset-main);
  padding: 0 30px;
  line-height: 30px;
  letter-spacing: 1.24px;
}
.form__descr>p:not(:last-child) {
  margin-bottom: 10px;
}
.form__descr__uppercase {
  text-transform: uppercase;
}
.form__link {
  position: relative;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: var(--accent-color);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.form__link:focus-visible,
.form__link:hover {
  color: var(--dark-bg-color);
}
.form__feedback {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 952px;
}
.form__label {
  position: relative;
  max-width: 620px;
  width: 100%;
}
.form__input {
  display: inline-block;
  padding: 14px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 30px 0px 0px 30px;
  width: 100%;
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: var(--grey-color);
  -webkit-transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.form__input:focus-visible,
.form__input:hover {
  outline: none;
  border-color: var(--dark-bg-color);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
}
.error {
  position: absolute;
  top: -100%;
  left: 5%;
  padding-bottom: 5px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: var(--accent-color);
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.form__btn {
  margin-left: -1px;
  padding: 15.4px 84px;
  border: 1px solid var(--accent-color);
  border-radius: 0px 30px 30px 0px;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.form__btn:focus-visible,
.form__btn:hover {
  color: var(--black-color);
  background-color: var(--hover-color);
}

/* section contacts */
.contacts {
  padding-bottom: var(--ofset-section);
  background-color: var(--dark-bg-color);
}
.contacts__title,
.contacts__mail {
  color: var(--white-color);
}
.contacts__mail {
  margin-bottom: 65px;
  text-align: center;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.72px;
  color: var(--white-color);
}
.contacts__link {
  transition: color .3s ease-in-out;
}
.contacts__link:focus-visible,
.contacts__link:hover {
  color: var(--accent-color);
  /* color: var(--hover-color); */
}
.contacts__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* gap: 32px; */
}
/* for Safari in Mac */
.contacts__social-list .social__item:not(:last-child) {
  margin-right: 32px;
}

.footer {
  padding-top: 33px;
  padding-bottom: var(--ofset-main);
  background-color: var(--dark-bg-color);
  color: var(--white-color);
  color: #979797;
}
.footer__content {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__policy {
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.footer__policy:focus-visible,
.footer__policy:hover {
  color: var(--accent-color);
}
